@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Banner Style*/
#banner_wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 840px;
    overflow: hidden;
    position: relative;
    z-index: 10;
    display: flex;
    align-content: center;
    align-items: center;
}
#banner_wrapper #banner-content {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0 auto;
    z-index: 11;
}
#banner_wrapper #banner-content h2{
    font-family: Montserrat;
    font-size: 50px;
    line-height: 54px;
    text-transform: uppercase;
}
#banner_wrapper #banner-content > div.content-box {
	border: 2px solid transparent;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
    display: inline-block;
    margin: 0 20px;
    width: 250px;
    min-height: 69px;
    -webkit-transform: skew(-30deg);
       -moz-transform: skew(-30deg);
         -o-transform: skew(-30deg);
}
#banner_wrapper #banner-content > div.content-box a {
    font-family: Montserrat;    
    font-size: 18px;    
    line-height: 22px;
    margin: 0;
    text-transform: uppercase;
    text-decoration: none;
    padding: 13px 70px;
    display: block;
    -webkit-transform: skew(30deg);
       -moz-transform: skew(30deg);
         -o-transform: skew(30deg);
}

/* Slider Style*/
#slider_wrapper {
    width: 100%;
}
#slider_wrapper .slick-list .slick-slide {
	height: 840px;
}
#slider_wrapper  .slider-content {
    position: relative;
    padding: 0;
    margin: 20% 0 0;
    z-index: 11;
}
#slider_wrapper .slider-content h2{
    font-family: Montserrat;
    font-size: 50px;
    line-height: 54px;
    text-transform: uppercase;
}
#slider_wrapper .slider-content .content-box {
    border: 2px solid transparent;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
    display: inline-block;
    margin: 0 20px;
    width: 250px;
    min-height: 69px;
    -webkit-transform: skew(-30deg);
       -moz-transform: skew(-30deg);
         -o-transform: skew(-30deg);
}
#slider_wrapper .slider-content .content-box a {
    font-family: Montserrat;    
    font-size: 18px;    
    line-height: 22px;
    margin: 0;
    text-transform: uppercase;
    text-decoration: none;
    padding: 13px 70px;
    display: block;
    -webkit-transform: skew(30deg);
       -moz-transform: skew(30deg);
         -o-transform: skew(30deg);
}
#slider_wrapper .slick-dots {
	bottom: 0;
    padding-bottom: 20px;
}
#slider_wrapper .slick-dots li button:before {
    font-size: 40px;
}

/* Video conatiner */
#video_wrapper {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
#video_container  .video-content {
    position: relative;
    padding: 0;
    margin: 20% 0 0;
    z-index: 11;
}
#video_container .video-content h2{
    font-family: Montserrat;
    font-size: 50px;
    line-height: 54px;
    text-transform: uppercase;
}
#video_container .video-content .content-box {
    border: 2px solid transparent;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
    display: inline-block;
    margin: 0 20px;
    width: 250px;
    min-height: 69px;
    -webkit-transform: skew(-30deg);
       -moz-transform: skew(-30deg);
         -o-transform: skew(-30deg);
}
#video_container .video-content .content-box a {
    font-family: Montserrat;    
    font-size: 18px;    
    line-height: 22px;
    margin: 0;
    text-transform: uppercase;
    text-decoration: none;
    padding: 13px 70px;
    display: block;
    -webkit-transform: skew(30deg);
       -moz-transform: skew(30deg);
         -o-transform: skew(30deg);
}